/* ==UserStyle==
@name           YouTube Blocker
@namespace      youtube-blocker
@version        1.0.0
@description    Make YouTube less addictive on Mobile, hide Shorts etc.
@author         konsuko
==/UserStyle== */

@-moz-document domain("youtube.com"),
domain("m.youtube.com") {

    body {
        display: none;
    }

    /* Hide the Shorts button */
    .shorts-button,
    .pivot-shorts {
        display: none;
    }

    /* Hide the Home button */
    .home-button,
    .pivot-w2w {
        display: none;
    }
}