/* ==UserStyle==
@name           YouTube Blocker
@namespace      youtube-blocker
@version        1.0.0
@description    Make YouTube less addictive on Mobile, hide Shorts etc.
@author         konsuko
==/UserStyle== */

@-moz-document domain("youtube.com"),
domain("m.youtube.com") {

    /* Hide the Shorts button */
    .shorts-button,
    .pivot-shorts {
        display: none;
    }

    /* Hide the Home button */
    .home-button,
    .pivot-w2w {
        display: none;
    }

    #header-bar {
        display: none;
    }

    [role=tablist] {
        display: none;
    }

    .watch-below-the-player {
        display: none;
    }
}

@document url("https://www.youtube.com/"),
url("https://m.youtube.com/") {
    body {
        display: none;
    }

    #header-bar {
        display: none;
    }

    [role=tablist] {
        display: none;
    }

    .watch-below-the-player {
        display: none;
    }
}

@document url("https://www.youtube.com/watch"),
url("https://m.youtube.com/watch") {
    body {
        display: block;
    }

    #header-bar {
        display: none;
    }

    [role=tablist] {
        display: none;
    }

    .watch-below-the-player {
        display: none;
    }
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions"),
url-prefix("https://m.youtube.com/feed/subscriptions") {
    body {
        display: none;
    }

    #header-bar {
        display: none;
    }

    [role=tablist] {
        display: none;
    }

    .watch-below-the-player {
        display: none;
    }
}